body {
  max-width: 1080px;
  margin: auto;
  overflow-x: hidden;
}

#wrapper {
  width: 100%;
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  margin: 0 auto;
}

#service1 {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 450px;
  overflow: hidden;
  margin-left: 0;
}

#service1 h1 {
  margin-left: 0;
  min-width: 0;
}

#service1 > div > div:nth-child(2) >div > div > span {
  margin-left: 0;
}

#service1 > div > div:nth-child(2) > div > div:nth-child(2) > span:nth-child(2) {
  display: none;
}

#ATC {
  padding-top: 12em;
  grid-column-start: 3;
  grid-column-end: 4;
  max-width: 900px;
  overflow: hidden;
}

#ATC > div > div:nth-child(1) {
  min-width: 300px;
  margin-right: 1em;
}

#ATC > div > div:nth-child(2) {
  min-width: 300px;
}


#service3 {
  grid-column-start: 1;
  grid-column-end: 4;
  max-width: 1080px;
}

#service4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media only screen and (max-width: 600px) {
  #service1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #ATC {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #ATC > div > div {
    min-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    margin: auto;
  }

  #ATC > div > div:nth-child(2) {
    width: 100%;
    float: none;
  }

  #service3, #service1, #service3, #service4, #service3 h3, #ATC > div > div, #ATC > div {
    display: block;
    width: 100%;
  }
}
